In [3]:
import duckdb
import pandas as pd

# ------------------------------------------------
# 1. Connecting to the Database
# ------------------------------------------------
def connect_to_database(db_path="nl2sql_agent/database/tweets.duckdb"):
    """
    Connect to an existing DuckDB database and return the connection object.
    """
    return duckdb.connect(db_path)

# ------------------------------------------------
# 2. Table Overview
# ------------------------------------------------
def get_table_info(con, table_name="tweets"):
    """
    Returns a Pandas DataFrame with the list of columns, data types, and 
    an approximate count of distinct values in each column.
    """
    # Use DESCRIBE instead of PRAGMA show_columns
    schema_query = f"""
        DESCRIBE {table_name}
    """
    schema_info = con.execute(schema_query).fetchdf()
    
    # 2) Distinct counts for columns
    distinct_counts = {}
    for col in schema_info['column_name']:
        query = f"SELECT COUNT(DISTINCT {col}) FROM {table_name}"
        distinct_counts[col] = con.execute(query).fetchone()[0]
    
    schema_info['distinct_count'] = schema_info['column_name'].apply(lambda x: distinct_counts[x])
    return schema_info

def get_total_row_count(con, table_name="tweets"):
    """
    Returns the total number of rows in the specified table.
    """
    query = f"SELECT COUNT(*) FROM {table_name}"
    return con.execute(query).fetchone()[0]

# ------------------------------------------------
# 3. Missing Values / Null Analysis
# ------------------------------------------------
def get_null_counts(con, table_name="tweets"):
    """
    Returns a dictionary mapping each column name to the number of nulls/empties.
    """
    # Get columns using DESCRIBE instead of PRAGMA
    cols = con.execute(f"DESCRIBE {table_name}").fetchdf()['column_name'].tolist()
    
    # Rest of the function remains the same
    null_query_parts = []
    for col in cols:
        part = f"(COUNT(*) - COUNT({col})) as {col}_nulls"
        null_query_parts.append(part)
    null_query = "SELECT " + ",\n       ".join(null_query_parts) + f" FROM {table_name}"
    
    result = con.execute(null_query).fetchdf().iloc[0].to_dict()
    
    # Convert to a more friendly dictionary: {col: null_count}
    null_dict = {}
    for col in cols:
        col_null = f"{col}_nulls"
        null_dict[col] = result[col_null]
    
    return null_dict

def print_null_summary(con, table_name="tweets"):
    """
    Prints a summary of null counts and percentages for each column.
    """
    total_rows = get_total_row_count(con, table_name)
    null_dict = get_null_counts(con, table_name)
    
    print(f"\nTotal rows in {table_name}: {total_rows:,}\n")
    print("Null/Empty value counts (column : null_count (percentage)):")
    for col, count_null in null_dict.items():
        perc = (count_null / total_rows) * 100 if total_rows > 0 else 0
        print(f"{col:<20} {count_null:>10,} ({perc:>5.1f}%)")

# ------------------------------------------------
# 4. Basic Statistics (Numeric Columns)
# ------------------------------------------------
def get_basic_numeric_stats(con, table_name="tweets"):
    """
    Returns a Pandas DataFrame containing average, min, max, and standard deviation
    for numeric columns of interest: replyCount, retweetCount, likeCount, quoteCount, viewCount.
    """
    stats_query = f"""
    SELECT 
        AVG(replyCount) AS avg_reply,
        MIN(replyCount) AS min_reply,
        MAX(replyCount) AS max_reply,
        STDDEV_SAMP(replyCount) AS std_reply,
        
        AVG(retweetCount) AS avg_retweet,
        MIN(retweetCount) AS min_retweet,
        MAX(retweetCount) AS max_retweet,
        STDDEV_SAMP(retweetCount) AS std_retweet,
        
        AVG(likeCount) AS avg_like,
        MIN(likeCount) AS min_like,
        MAX(likeCount) AS max_like,
        STDDEV_SAMP(likeCount) AS std_like,
        
        AVG(quoteCount) AS avg_quote,
        MIN(quoteCount) AS min_quote,
        MAX(quoteCount) AS max_quote,
        STDDEV_SAMP(quoteCount) AS std_quote,
        
        AVG(viewCount) AS avg_view,
        MIN(viewCount) AS min_view,
        MAX(viewCount) AS max_view,
        STDDEV_SAMP(viewCount) AS std_view
    FROM {table_name}
    """
    return con.execute(stats_query).fetchdf()

def print_basic_numeric_stats(con, table_name="tweets"):
    """
    Prints the basic numeric stats in a nicely formatted way.
    """
    df_stats = get_basic_numeric_stats(con, table_name)
    row = df_stats.iloc[0]
    
    print("Basic Numeric Statistics:\n")
    print(f"Replies   - Avg: {row['avg_reply']:.2f}, Min: {row['min_reply']}, Max: {row['max_reply']}, Std: {row['std_reply']:.2f}")
    print(f"Retweets  - Avg: {row['avg_retweet']:.2f}, Min: {row['min_retweet']}, Max: {row['max_retweet']}, Std: {row['std_retweet']:.2f}")
    print(f"Likes     - Avg: {row['avg_like']:.2f}, Min: {row['min_like']}, Max: {row['max_like']}, Std: {row['std_like']:.2f}")
    print(f"Quotes    - Avg: {row['avg_quote']:.2f}, Min: {row['min_quote']}, Max: {row['max_quote']}, Std: {row['std_quote']:.2f}")
    print(f"Views     - Avg: {row['avg_view']:.2f}, Min: {row['min_view']}, Max: {row['max_view']}, Std: {row['std_view']:.2f}")

# ------------------------------------------------
# 5. Top Tweets and Top Users
# ------------------------------------------------
def get_top_tweets_by_metric(con, metric="likeCount", top_n=10, table_name="tweets"):
    """
    Returns top N tweets with the highest value in a given numeric metric (e.g. 'likeCount').
    Also returns the text and user columns for context.
    """
    query = f"""
    SELECT 
        id,
        user,
        text,
        {metric} AS metric_value
    FROM {table_name}
    ORDER BY metric_value DESC
    LIMIT {top_n}
    """
    return con.execute(query).fetchdf()

def get_top_users_by_tweet_count(con, top_n=10, table_name="tweets"):
    """
    Returns top N users who have produced the most tweets in the dataset.
    """
    # We assume 'user' column is a simple string with the username or user ID.
    query = f"""
    SELECT 
        user,
        COUNT(*) AS tweet_count
    FROM {table_name}
    WHERE user IS NOT NULL AND user <> ''
    GROUP BY user
    ORDER BY tweet_count DESC
    LIMIT {top_n}
    """
    return con.execute(query).fetchdf()

# ------------------------------------------------
# 6. Hashtag & Mention Analysis
# ------------------------------------------------
def get_top_hashtags(con, top_n=10, table_name="tweets"):
    """
    Returns the top N hashtags in the dataset based on their frequency of appearance.
    """
    query = f"""
    WITH cleaned AS (
        SELECT regexp_replace(hashtags, '[\[\]"]', '') as clean_hashtags
        FROM {table_name}
        WHERE hashtags IS NOT NULL AND hashtags <> ''
    ),
    split AS (
        SELECT LOWER(TRIM(unnest(string_split(clean_hashtags, ',')))) as hashtag
        FROM cleaned
    )
    SELECT hashtag, COUNT(*) as frequency
    FROM split
    WHERE hashtag <> ''
    GROUP BY hashtag
    ORDER BY frequency DESC
    LIMIT {top_n}
    """
    return con.execute(query).fetchdf()

def get_top_mentions(con, top_n=10, table_name="tweets"):
    """
    Returns the top N mentioned users in the dataset based on frequency.
    """
    query = f"""
    WITH cleaned AS (
        SELECT regexp_replace(mentionedUsers, '[\[\]"]', '') as clean_mentions
        FROM {table_name}
        WHERE mentionedUsers IS NOT NULL AND mentionedUsers <> ''
    ),
    split AS (
        SELECT LOWER(TRIM(unnest(string_split(clean_mentions, ',')))) as mention
        FROM cleaned
    )
    SELECT mention, COUNT(*) as frequency
    FROM split
    WHERE mention <> ''
    GROUP BY mention
    ORDER BY frequency DESC
    LIMIT {top_n}
    """
    return con.execute(query).fetchdf()


# ------------------------------------------------
# 8. Random Sample of Tweets
# ------------------------------------------------
def get_random_tweets(con, table_name="tweets", limit=5):
    """
    Returns a random sample of tweets for manual inspection.
    """
    query = f"""
    SELECT 
        id,
        user,
        text,
        replyCount,
        retweetCount,
        likeCount,
        viewCount,
        date
    FROM {table_name}
    ORDER BY RANDOM()
    LIMIT {limit}
    """
    return con.execute(query).fetchdf()

def print_random_tweets_sample(con, table_name="tweets", limit=5):
    """
    Prints a random sample of tweets. 
    """
    df_sample = get_random_tweets(con, table_name, limit)
    for i, row in df_sample.iterrows():
        print(f"\n--- Tweet {i+1} ---")
        print(f"ID:      {row['id']}")
        print(f"User:    {row['user']}")
        print(f"Date:    {row['date']}")
        print(f"Text:    {str(row['text'])[:200]} ...")  # truncated
        print(f"Replies: {row['replyCount']}, Retweets: {row['retweetCount']}, Likes: {row['likeCount']}, Views: {row['viewCount']}")

# ------------------------------------------------
# 9. Comprehensive Analysis Function
# ------------------------------------------------
def analyze_database(db_path="database/tweets.duckdb", table_name="tweets"):
    """
    Connects to the DuckDB, runs a series of analysis queries, and prints the results.
    """
    con = connect_to_database(db_path)
    
    print("1) Table Overview")
    info_df = get_table_info(con, table_name)
    total_rows = get_total_row_count(con, table_name)
    print(f"Total rows: {total_rows:,}")
    display(info_df)  # In a Jupyter notebook, display as a DataFrame
    
    print("\n2) Null/Empty Value Analysis")
    print_null_summary(con, table_name)
    
    print("\n3) Basic Numeric Statistics")
    print_basic_numeric_stats(con, table_name)
    
    print("\n4) Top Tweets by Likes")
    top_likes = get_top_tweets_by_metric(con, metric="likeCount", top_n=5, table_name=table_name)
    display(top_likes)
    
    print("\n5) Top Users by Tweet Count")
    top_users = get_top_users_by_tweet_count(con, top_n=5, table_name=table_name)
    display(top_users)
    
    print("\n6) Top Hashtags")
    top_hashtags = get_top_hashtags(con, top_n=5, table_name=table_name)
    display(top_hashtags)
    
    print("\n7) Top Mentions")
    top_mentions = get_top_mentions(con, top_n=5, table_name=table_name)
    display(top_mentions)

    print("\n9) Random Sample of Tweets")
    print_random_tweets_sample(con, table_name, limit=5)
    
    con.close()

analyze_database("nl2sql_agent/database/tweets.duckdb", "tweets")

1) Table Overview
Total rows: 20,000,016

,column_name,column_type,null,key,default,extra,distinct_count
0,id,VARCHAR,YES,None,None,None,19931525
1,text,VARCHAR,YES,None,None,None,19112828
2,url,VARCHAR,YES,None,None,None,19824130
3,epoch,VARCHAR,YES,None,None,None,3775439
4,media,VARCHAR,YES,None,None,None,2146688
5,retweetedTweet,VARCHAR,YES,None,None,None,9
6,retweetedTweetID,VARCHAR,YES,None,None,None,28472
7,retweetedUserID,VARCHAR,YES,None,None,None,9446
8,id_str,VARCHAR,YES,None,None,None,19920563
9,lang,VARCHAR,YES,None,None,None,103
10,rawContent,VARCHAR,YES,None,None,None,19112728
11,replyCount,DOUBLE,YES,None,None,None,4746
12,retweetCount,DOUBLE,YES,None,None,None,9900
13,likeCount,DOUBLE,YES,None,None,None,16725
14,quoteCount,DOUBLE,YES,None,None,None,1648
15,conversationId,VARCHAR,YES,None,None,None,8965222
16,conversationIdStr,VARCHAR,YES,None,None,None,8946954
17,hashtags,VARCHAR,YES,None,None,None,1069455
18,mentionedUsers,VARCHAR,YES,None,None,None,3652642
19,links,VARCHAR,YES,None,None,None,1968310
20,viewCount,DOUBLE,YES,None,None,None,96646
21,quotedTweet,VARCHAR,YES,None,None,None,8
22,in_reply_to_screen_name,VARCHAR,YES,None,None,None,963900
23,in_reply_to_status_id_str,VARCHAR,YES,None,None,None,4832509
24,in_reply_to_user_id_str,VARCHAR,YES,None,None,None,980964
25,location,VARCHAR,YES,None,None,None,4
26,cash_app_handle,VARCHAR,YES,None,None,None,1
27,user,VARCHAR,YES,None,None,None,14830794
28,date,VARCHAR,YES,None,None,None,4
29,_type,VARCHAR,YES,None,None,None,0

2) Null/Empty Value Analysis

Total rows in tweets: 20,000,016

Null/Empty value counts (column : null_count (percentage)):
id                            1 (  0.0%)
text                         33 (  0.0%)
url                          70 (  0.0%)
epoch                        73 (  0.0%)
media                       100 (  0.0%)
retweetedTweet               48 (  0.0%)
retweetedTweetID     19,888,686 ( 99.4%)
retweetedUserID      19,888,668 ( 99.4%)
id_str                       75 (  0.0%)
lang                         95 (  0.0%)
rawContent                  126 (  0.0%)
replyCount                    0 (  0.0%)
retweetCount                  0 (  0.0%)
likeCount                     0 (  0.0%)
quoteCount                    0 (  0.0%)
conversationId              123 (  0.0%)
conversationIdStr           117 (  0.0%)
hashtags                    124 (  0.0%)
mentionedUsers              125 (  0.0%)
links                       125 (  0.0%)
viewCount                     0 (  0.0%)
quotedTweet                 126 (  0.0%)
in_reply_to_screen_name  7,437,053 ( 37.2%)
in_reply_to_status_id_str  5,942,245 ( 29.7%)
in_reply_to_user_id_str  7,437,053 ( 37.2%)
location             18,234,419 ( 91.2%)
cash_app_handle      18,234,422 ( 91.2%)
user                        134 (  0.0%)
date                 20,000,012 (100.0%)
_type                20,000,016 (100.0%)

3) Basic Numeric Statistics
Basic Numeric Statistics:

Replies   - Avg: 180081764899.86, Min: 0.0, Max: 1.8050027949417231e+18, Std: 569470292503275.25
Retweets  - Avg: 452974972781.36, Min: 0.0, Max: 1.8165403358264364e+18, Std: 905952342454247.00
Likes     - Avg: 137135678736.65, Min: 0.0, Max: 1.814654783417926e+18, Std: 455755728536979.00
Quotes    - Avg: 0.45, Min: 0.0, Max: 174726.0, Std: 63.00
Views     - Avg: 1556.60, Min: 0.0, Max: 439665677.0, Std: 164409.13

4) Top Tweets by Likes

,id,user,text,metric_value
0,https://twitter.com/foutsphotos/status/1814676...,None,[],1.814655e+18
1,24,None,5,9.280610e+17
2,2,None,0,5.824521e+08
3,0,None,0,2.467791e+06
4,1813209070288920669,"{'id': 943974347546521600, 'id_str': '94397434...",i thought that was Donald Trump,1.085449e+06

5) Top Users by Tweet Count

                                                user  tweet_count
0  {'id': 2751399455, 'id_str': '2751399455', 'ur...         4024
1  {'id': 1360949929, 'id_str': '1360949929', 'ur...         1537
2  {'id': 1753422596572610560, 'id_str': '1753422...          649
3  {'id': 1785211427663523840, 'id_str': '1785211...          506
4  {'id': 1752075248374095872, 'id_str': '1752075...          448

6) Top Hashtags

                 hashtag  frequency
0                      ]   17892014
1       'text': 'maga'}]     414223
2         {'indices': [0     275093
3  'text': 'trump2024'}]     215480
4        'text': 'maga'}     131943

7) Top Mentions

         mention  frequency
0  'indices': [0   13288690
1              ]    5695768
2          13]}]    1321669
3          12]}]    1121702
4          11]}]    1100256

9) Random Sample of Tweets

--- Tweet 1 ---
ID:      1814781025559498768
User:    {'id': 1581699253218451460, 'id_str': '1581699253218451460', 'url': 'https://twitter.com/Baby', 'username': 'Baby', 'rawDescription': 'Hello My Name is Baby and I approve this message. it seems that Ã®â€™ve been away too longâ€¦', 'created': datetime.datetime(2022, 10, 16, 17, 31, 34, tzinfo=datetime.timezone.utc), 'followersCount': 93, 'friendsCount': 260, 'statusesCount': 685, 'favouritesCount': 3719, 'listedCount': 0, 'mediaCount': 479, 'location': 'Paris, France', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1581700032876761097/z5omCIP2_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}
Date:    None
Text:    We love you, Joe but you have to realize that four more years at this pace is simply not feasible and make the right decision : withdraw from a race we are all as human beings about to lose otherwise  ...
Replies: 0.0, Retweets: 0.0, Likes: 5.0, Views: 139.0

--- Tweet 2 ---
ID:      1815036793286234248
User:    {'id': 2396804441, 'id_str': '2396804441', 'url': 'https://twitter.com/Mark Smith', 'username': 'Mark Smith', 'rawDescription': 'Golfer\nConservative', 'created': datetime.datetime(2014, 3, 9, 13, 37, 53, tzinfo=datetime.timezone.utc), 'followersCount': 1848, 'friendsCount': 2741, 'statusesCount': 152534, 'favouritesCount': 220770, 'listedCount': 11, 'mediaCount': 15661, 'location': '', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/577799954921566208/0H7fG2Z4_normal.jpeg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}
Date:    None
Text:    @BidenHQ You are misinterpreting (probably on purpose) the definition of Biden-Harris policy. ...
Replies: 0.0, Retweets: 0.0, Likes: 0.0, Views: 10.0

--- Tweet 3 ---
ID:      1809881770130596210
User:    {'id': 3233751349, 'id_str': '3233751349', 'url': 'https://twitter.com/Kamyshinover ðŸ‡ºðŸ‡¦', 'username': 'Kamyshinover ðŸ‡ºðŸ‡¦', 'rawDescription': 'This is a fantasy based on reality', 'created': datetime.datetime(2015, 6, 2, 16, 19, tzinfo=datetime.timezone.utc), 'followersCount': 954, 'friendsCount': 1714, 'statusesCount': 12731, 'favouritesCount': 154737, 'listedCount': 9, 'mediaCount': 1352, 'location': '', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1471016411262763009/x6OPL54R_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}
Date:    None
Text:    They probably exceeded those in like the first month lol ...
Replies: 1.0, Retweets: 0.0, Likes: 11.0, Views: 562.0

--- Tweet 4 ---
ID:      1802589134034485712
User:    {'id': 1269781474103848966, 'id_str': '1269781474103848966', 'url': 'https://twitter.com/Brad', 'username': 'Brad', 'rawDescription': '', 'created': datetime.datetime(2020, 6, 8, 0, 1, 22, tzinfo=datetime.timezone.utc), 'followersCount': 12, 'friendsCount': 61, 'statusesCount': 1123, 'favouritesCount': 72, 'listedCount': 1, 'mediaCount': 6, 'location': 'Los Angeles, TX', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1285328537365315584/u5Hl4glD_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}
Date:    None
Text:    @jackunheard I got a large single family house in the suburb and an apartment in the city which I rent out.

Iâ€™m voting Biden to keep you from owning a place lmao ...
Replies: 0.0, Retweets: 0.0, Likes: 0.0, Views: 3.0

--- Tweet 5 ---
ID:      1801385960741212638
User:    {'id': 204273771, 'id_str': '204273771', 'url': 'https://twitter.com/James One ðŸ˜·', 'username': 'James One ðŸ˜·', 'rawDescription': 'Reject Post-Truth apathy. Without racism, beauty is everywhere. Freedom is everything.\nAlways was, always will be, Aboriginal land. #EnoughIsEnough', 'created': datetime.datetime(2010, 10, 18, 10, 18, 13, tzinfo=datetime.timezone.utc), 'followersCount': 14240, 'friendsCount': 15598, 'statusesCount': 245059, 'favouritesCount': 39692, 'listedCount': 119, 'mediaCount': 2838, 'location': 'Gumbaynggirr country', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1486279001371213824/f_cUYNsF_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}
Date:    None
Text:    No wonder racist Donald Trump hates Milwaukee https://t.co/si0lEnMWHT ...
Replies: 1.0, Retweets: 0.0, Likes: 2.0, Views: 122.0

In [7]:
def run_query(query, db_path="nl2sql_agent/database/tweets.duckdb"):
    """
    Execute a SQL query against the DuckDB database and return results as a pandas DataFrame.
    
    Args:
        query (str): SQL query to execute
        db_path (str): Path to the DuckDB database file
        
    Returns:
        pandas.DataFrame: Query results
    """
    with duckdb.connect(db_path) as con:
        return con.execute(query).fetchdf()
    
query = "SELECT lang, SUM(likeCount) AS totalLikes FROM tweets GROUP BY lang ORDER BY totalLikes DESC LIMIT 5"
results = run_query(query)

In [8]:
results

                                            lang    totalLikes
0                                              0  1.814655e+18
1  {'count': '146', 'state': 'EnabledWithCount'}  9.280610e+17
2   {'count': '35', 'state': 'EnabledWithCount'}  5.824521e+08
3                                             en  4.917036e+08
4                                             es  9.732924e+06

In [13]:
def investigate_lang_values(db_path="database/tweets.duckdb"):
    """
    Investigates potentially problematic language values in the dataset.
    """
    query = """
    SELECT 
        CASE 
            WHEN lang IS NULL THEN 'NULL'
            WHEN lang = '' THEN 'EMPTY'
            ELSE lang 
        END as lang_value,
        COUNT(*) as count,
        SUM(likeCount) as total_likes
    FROM tweets 
    GROUP BY lang
    ORDER BY count DESC
    LIMIT 10
    """
    
    results = run_query(query, db_path)
    print("\nLanguage value analysis:")
    print("-" * 50)
    for _, row in results.iterrows():
        print(f"Value: {str(row['lang_value']):<40} Count: {row['count']:,}")
        print(f"Total Likes: {row['total_likes']:,}")
        print("-" * 50)

#### Unique Languages in the data and issues related to the column

In [14]:
print_unique_langs()

Found 103 unique language values:
----------------------------------------
Language: en              Count: 17,451,496
Language: qme             Count: 692,539
Language: es              Count: 388,020
Language: und             Count: 139,340
Language: fr              Count: 136,226
Language: pt              Count: 135,501
Language: et              Count: 107,133
Language: qht             Count: 95,801
Language: de              Count: 88,517
Language: ja              Count: 85,249
Language: it              Count: 64,833
Language: tr              Count: 63,103
Language: tl              Count: 62,417
Language: eu              Count: 59,243
Language: zxx             Count: 56,794
Language: qam             Count: 45,304
Language: in              Count: 45,236
Language: nl              Count: 41,884
Language: pl              Count: 23,988
Language: art             Count: 19,025
Language: no              Count: 18,850
Language: ht              Count: 16,183
Language: ca              Count: 15,383
Language: sv              Count: 15,233
Language: da              Count: 15,166
Language: zh              Count: 14,885
Language: ar              Count: 12,564
Language: fi              Count: 11,890
Language: hi              Count: 9,394
Language: vi              Count: 9,144
Language: cs              Count: 8,038
Language: qst             Count: 7,952
Language: ro              Count: 6,116
Language: hu              Count: 5,604
Language: ko              Count: 5,428
Language: th              Count: 3,210
Language: el              Count: 2,470
Language: cy              Count: 2,364
Language: ur              Count: 2,111
Language: sd              Count: 2,081
Language: fa              Count: 2,052
Language: sl              Count: 1,903
Language: uk              Count: 1,345
Language: ru              Count: 1,312
Language: lv              Count: 1,122
Language: iw              Count: 1,001
Language: lt              Count: 919
Language: is              Count: 849
Language: ckb             Count: 684
Language: qct             Count: 615
Language: ml              Count: 570
Language: ta              Count: 430
Language: mr              Count: 269
Language: te              Count: 208
Language: bn              Count: 176
Language: or              Count: 135
Language: gu              Count: 108
Language: ne              Count: 104
Language: kn              Count: 93
Language: bg              Count: 65
Language: km              Count: 52
Language: sr              Count: 41
Language: pa              Count: 28
Language: my              Count: 23
Language: am              Count: 22
Language: si              Count: 12
Language: ps              Count: 9
Language: bo              Count: 6
Language: hy              Count: 6
Language: SCAREDY TRUMP? Sean Hannity Concocts an Excuse for Trump to Chicken Out of Debate with Biden Count: 4
Language: {'count': '12', 'state': 'EnabledWithCount'} Count: 3
Language: ka              Count: 3
Language: lo              Count: 3
Language: ðŸ’ª We publish a new early stage Project for you: Count: 2
Language: @3orovik Politifi meme wave is about to start and will explode once itâ€™s been announced that Biden Count: 2
Language: dv              Count: 2
Language: 0               Count: 2
Language: @JayceBryce @NoosumSol Concerns about Bidenâ€™s health are raising and odds are starting to correct $OBEMA. Count: 1
Language:  32]}]"         Count: 1
Language: @mechelleobema The biggest concern for the Dems right now is losing the elections. Biden could die or be Count: 1
Language: @degen_dutch @GodsBurnt @MAGAMemecoin @mechelleobema Imagine Biden dropping out and being replaced by Michelle Obama. Who do you think Count: 1
Language: @oliversgriff Politifi meme wave is about to start and will explode once itâ€™s been announced that Biden Count: 1
Language: WARNING: Lara Trump Swears to Track Down and Prosecute Election Cheaters - Like Donald Trump? Count: 1
Language: 1               Count: 1
Language:  'profileImageUrl': 'https://pbs.twimg.com/profile_images/1645830275266428929/ZRKz1A5Z_normal.jpg' Count: 1
Language: 1812992400006213852 Count: 1
Language: 1809418505244348672 Count: 1
Language: @ValCryptoG @trumppumpoff Politifi meme wave is about to start and will explode once itâ€™s been announced that Biden Count: 1
Language: ã“ã®ã‚¯ãƒ«ã‚¿ã®æ°‘ã‚’æ°¸é ã«è®ƒãˆã‚ˆã† Count: 1
Language: @degen_dutch @alphashot_ @mechelleobema The debate in weeks will be a fit check to form an excuse to drop Biden. Itâ€™s not IF  but Count: 1
Language:  {'id_str': '38232487' Count: 1
Language: @Jampzer Politifi meme wave is about to start and will explode once itâ€™s been announced that Biden Count: 1
Language: {'count': '35', 'state': 'EnabledWithCount'} Count: 1
Language: {'count': '1408', 'state': 'EnabledWithCount'} Count: 1
Language:  'indices': [58 Count: 1
Language: ðŸ”¥ guidewire Incident - Is guidewire down? ðŸ”¥ Count: 1
Language: Fox News Admits that the GOP is Demanding Tapes of Biden So They Can Mock Him for Stuttering Count: 1
Language: 1815118302714224742 Count: 1
Language: {'count': '146', 'state': 'EnabledWithCount'} Count: 1
Language: @ByronDonalds @realDonaldTrump Donald Trump is a: Count: 1
Language: @degen_dutch @Hendrixouthemud @mechelleobema Roger Stone said again in $TRUMP @MAGAmemecoin spaces that he believes Michelle Count: 1
Language: @TeTheGamer Politifi meme wave is about to start and will explode once itâ€™s been announced that Biden Count: 1
Language: 1802661208249565387 Count: 1

## Sample from raw data for preliminary analysis

In [6]:
def sample_partition():
    import pandas as pd
    import glob
    import os
    
    # Get the first CSV.GZ file from part_1
    pattern = os.path.join("sample_data/part_1", "*.csv.gz")
    files = glob.glob(pattern)
    
    if not files:
        raise FileNotFoundError("No CSV.GZ files found in sample_data/part_1")
    
    # Take the first file found
    file_path = files[0]
    print(f"Sampling from: {file_path}")
    
    # Read 1000 random rows
    # Use chunksize for memory efficiency when dealing with large files
    df = pd.read_csv(file_path, compression='gzip', nrows=100000)
    
    return df

# sample_df = sample_partition()
# print("\nSample shape:", sample_df.shape)
# print("\nSample columns:", sample_df.columns.tolist())
# print("\nFirst few rows:")
# print(sample_df.head())

In [7]:
import os 

def sample_and_save_partition(output_path="sample_data/sampled_tweets_b.csv"):
    """
    Sample 1000 rows from a partition and save to CSV.
    
    Args:
        output_path (str): Path where the sampled CSV will be saved
    """
    # Get the sample
    df = sample_partition()
    
    # Create output directory if it doesn't exist
    os.makedirs(os.path.dirname(output_path), exist_ok=True)
    
    # Save to CSV
    df.to_csv(output_path, index=False)
    print(f"\nSaved {len(df)} rows to: {output_path}")
    
    return df

# Example usage:
if __name__ == "__main__":
    df = sample_and_save_partition()

Sampling from: sample_data/part_1/may_july_chunk_11.csv.gz

Saved 50000 rows to: sample_data/sampled_tweets_b.csv

In [4]:
def analyze_columns(df):
    """
    Analyze each column in the dataframe and provide detailed information about data types,
    sample values, and basic statistics.
    
    Args:
        df (pd.DataFrame): Input dataframe to analyze
        
    Returns:
        dict: Dictionary containing analysis results for each column
    """
    analysis = {}
    
    for column in df.columns:
        # Initialize column analysis
        col_data = {
            'dtype': str(df[column].dtype),
            'null_count': df[column].isna().sum(),
            'null_percentage': (df[column].isna().sum() / len(df)) * 100,
            'unique_count': df[column].nunique(),
            'sample_values': df[column].dropna().head(3).tolist()
        }
        
        # Add type-specific analysis
        if df[column].dtype in ['int64', 'float64']:
            col_data.update({
                'min': df[column].min(),
                'max': df[column].max(),
                'mean': df[column].mean(),
                'median': df[column].median()
            })
        elif df[column].dtype == 'object':
            # For string/object columns
            non_null_values = df[column].dropna()
            if len(non_null_values) > 0:
                col_data.update({
                    'avg_length': non_null_values.str.len().mean(),
                    'max_length': non_null_values.str.len().max(),
                    'contains_numbers': any(str(x).replace('.','',1).isdigit() 
                                         for x in non_null_values.head(100)),
                    'most_common': df[column].value_counts().head(3).to_dict()
                })
        
        analysis[column] = col_data
    
    return analysis

def print_column_analysis(df):
    """
    Print a formatted analysis of all columns in the dataframe.
    
    Args:
        df (pd.DataFrame): Input dataframe to analyze
    """
    analysis = analyze_columns(df)
    
    print("\nColumn Analysis Report")
    print("=" * 80)
    
    for column, data in analysis.items():
        print(f"\nColumn: {column}")
        print("-" * 40)
        print(f"Data Type: {data['dtype']}")
        print(f"Null Count: {data['null_count']} ({data['null_percentage']:.2f}%)")
        print(f"Unique Values: {data['unique_count']}")
        print(f"Sample Values: {data['sample_values']}")
        
        # Print numeric statistics if available
        if 'mean' in data:
            print(f"Numeric Statistics:")
            print(f"  Min: {data['min']}")
            print(f"  Max: {data['max']}")
            print(f"  Mean: {data['mean']:.2f}")
            print(f"  Median: {data['median']}")
        
        # Print string statistics if available
        if 'avg_length' in data:
            print(f"String Statistics:")
            print(f"  Average Length: {data['avg_length']:.2f}")
            print(f"  Max Length: {data['max_length']}")
            print(f"  Contains Numbers: {data['contains_numbers']}")
            print(f"  Most Common Values:")
            for value, count in data['most_common'].items():
                print(f"    - {value}: {count} occurrences")

# Example usage:
if __name__ == "__main__":
    df = sample_partition()
    print_column_analysis(df)

Sampling from: sample_data/part_1/may_july_chunk_11.csv.gz

Column Analysis Report
================================================================================

Column: id
----------------------------------------
Data Type: int64
Null Count: 0 (0.00%)
Unique Values: 1000
Sample Values: [1801321015319896315, 1801321014204178511, 1801321014040686814]
Numeric Statistics:
  Min: 1801320226736218583
  Max: 1801321015319896315
  Mean: 1801320659818732544.00
  Median: 1.8013207082866342e+18

Column: text
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 998
Sample Values: ['@BidenHQ Thank you, PM Meloni, for shepherding our "lost little POTUS" back to the herd.\nI\'m so sorry you and Macron, etc., have to provide nursing care Biden\nThis is REALLY not in your job description.', '@MuskUniverseUsa 9', '@BidenHQ Lmfao. Biden has fallen down 17 times this year. Youâ€™re finding the one video where it was raining and he was wearing dress shoes down a metal ramp ðŸ˜‚ðŸ˜‚ðŸ˜‚ you guy have nothing on him.  \nGo find the cheer he got from those young cadets.  It was deafening']
String Statistics:
  Average Length: 144.48
  Max Length: 817
  Contains Numbers: False
  Most Common Values:
    - @Ashy_slashee Donald Trump: 2 occurrences
    - @Sportz_DC @Csmodeling_az BIDEN ðŸ‡ºðŸ‡¸: 2 occurrences
    - @BidenHQ Thank you, PM Meloni, for shepherding our "lost little POTUS" back to the herd.
I'm so sorry you and Macron, etc., have to provide nursing care Biden
This is REALLY not in your job description.: 1 occurrences

Column: url
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 1000
Sample Values: ['https://twitter.com/jeannieCsylvia/status/1801321015319896315', 'https://twitter.com/ConservativeRTJ/status/1801321014204178511', 'https://twitter.com/CostaGlaropoulo/status/1801321014040686814']
String Statistics:
  Average Length: 58.72
  Max Length: 62
  Contains Numbers: False
  Most Common Values:
    - https://twitter.com/jeannieCsylvia/status/1801321015319896315: 1 occurrences
    - https://twitter.com/Brandywine19772/status/1801320603540197794: 1 occurrences
    - https://twitter.com/MEKane2/status/1801320612054565331: 1 occurrences

Column: epoch
----------------------------------------
Data Type: int64
Null Count: 0 (0.00%)
Unique Values: 143
Sample Values: [1718303371, 1718303371, 1718303371]
Numeric Statistics:
  Min: 1718303183
  Max: 1718303371
  Mean: 1718303286.37
  Median: 1718303298.0

Column: media
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 133
Sample Values: ['[]', '[]', '[]']
String Statistics:
  Average Length: 209.30
  Max Length: 5724
  Contains Numbers: False
  Most Common Values:
    - []: 868 occurrences
    - [{'display_url': 'pic.x.com/at6sd8pz77', 'expanded_url': 'https://twitter.com/SD73660/status/1801320584661635195/photo/1', 'id_str': '1801320582346129408', 'indices': [87, 110], 'media_key': '3_1801320582346129408', 'media_url_https': 'https://pbs.twimg.com/media/GP-Thp1XQAAYcYI.jpg', 'type': 'photo', 'url': 'https://t.co/At6sd8PZ77', 'ext_media_availability': {'status': 'Available'}, 'features': {'large': {'faces': [{'x': 406, 'y': 46, 'h': 50, 'w': 50}, {'x': 538, 'y': 117, 'h': 56, 'w': 56}, {'x': 164, 'y': 548, 'h': 50, 'w': 50}]}, 'medium': {'faces': [{'x': 406, 'y': 46, 'h': 50, 'w': 50}, {'x': 538, 'y': 117, 'h': 56, 'w': 56}, {'x': 164, 'y': 548, 'h': 50, 'w': 50}]}, 'small': {'faces': [{'x': 340, 'y': 38, 'h': 41, 'w': 41}, {'x': 451, 'y': 98, 'h': 46, 'w': 46}, {'x': 137, 'y': 459, 'h': 41, 'w': 41}]}, 'orig': {'faces': [{'x': 406, 'y': 46, 'h': 50, 'w': 50}, {'x': 538, 'y': 117, 'h': 56, 'w': 56}, {'x': 164, 'y': 548, 'h': 50, 'w': 50}]}}, 'sizes': {'large': {'h': 810, 'w': 646, 'resize': 'fit'}, 'medium': {'h': 810, 'w': 646, 'resize': 'fit'}, 'small': {'h': 680, 'w': 542, 'resize': 'fit'}, 'thumb': {'h': 150, 'w': 150, 'resize': 'crop'}}, 'original_info': {'height': 810, 'width': 646, 'focus_rects': [{'x': 0, 'y': 448, 'w': 646, 'h': 362}, {'x': 0, 'y': 164, 'w': 646, 'h': 646}, {'x': 0, 'y': 74, 'w': 646, 'h': 736}, {'x': 142, 'y': 0, 'w': 405, 'h': 810}, {'x': 0, 'y': 0, 'w': 646, 'h': 810}]}, 'media_results': {'result': {'media_key': '3_1801320582346129408'}}}]: 1 occurrences
    - [{'display_url': 'pic.x.com/hlmzywqq9v', 'expanded_url': 'https://twitter.com/politicususa/status/1801320363239915596/video/1', 'id_str': '1801319557564428289', 'indices': [209, 232], 'media_key': '13_1801319557564428289', 'media_url_https': 'https://pbs.twimg.com/amplify_video_thumb/1801319557564428289/img/OVz2Vs8GSRJ9SmKq.jpg', 'type': 'video', 'url': 'https://t.co/HLMzYwQQ9v', 'additional_media_info': {'title': 'Trump Holds Fake Press Conference With GOP Senators', 'description': 'Donald Trump held a fake press conference with Republican senators.', 'embeddable': True, 'monetizable': False}, 'ext_media_availability': {'status': 'Available'}, 'sizes': {'large': {'h': 720, 'w': 1280, 'resize': 'fit'}, 'medium': {'h': 675, 'w': 1200, 'resize': 'fit'}, 'small': {'h': 383, 'w': 680, 'resize': 'fit'}, 'thumb': {'h': 150, 'w': 150, 'resize': 'crop'}}, 'original_info': {'height': 720, 'width': 1280, 'focus_rects': []}, 'allow_download_status': {'allow_download': False}, 'video_info': {'aspect_ratio': [16, 9], 'duration_millis': 253887, 'variants': [{'content_type': 'application/x-mpegURL', 'url': 'https://video.twimg.com/amplify_video/1801319557564428289/pl/zWTVhHdZtgtt-YvF.m3u8?tag=14&v=a2f'}, {'bitrate': 288000, 'content_type': 'video/mp4', 'url': 'https://video.twimg.com/amplify_video/1801319557564428289/vid/avc1/480x270/WCZ2KhphXkkKzwFE.mp4?tag=14'}, {'bitrate': 832000, 'content_type': 'video/mp4', 'url': 'https://video.twimg.com/amplify_video/1801319557564428289/vid/avc1/640x360/-ukaSgeIUJOeP5eM.mp4?tag=14'}, {'bitrate': 2176000, 'content_type': 'video/mp4', 'url': 'https://video.twimg.com/amplify_video/1801319557564428289/vid/avc1/1280x720/dx-E8oIlQYO3GMHq.mp4?tag=14'}]}, 'media_results': {'result': {'media_key': '13_1801319557564428289'}}}]: 1 occurrences

Column: retweetedTweet
----------------------------------------
Data Type: bool
Null Count: 0 (0.00%)
Unique Values: 1
Sample Values: [False, False, False]

Column: retweetedTweetID
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

Column: retweetedUserID
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

Column: id_str
----------------------------------------
Data Type: int64
Null Count: 0 (0.00%)
Unique Values: 1000
Sample Values: [1801321015319896315, 1801321014204178511, 1801321014040686814]
Numeric Statistics:
  Min: 1801320226736218583
  Max: 1801321015319896315
  Mean: 1801320659818732544.00
  Median: 1.8013207082866342e+18

Column: lang
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 23
Sample Values: ['en', 'und', 'en']
String Statistics:
  Average Length: 2.04
  Max Length: 3
  Contains Numbers: False
  Most Common Values:
    - en: 857 occurrences
    - es: 35 occurrences
    - qme: 27 occurrences

Column: rawContent
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 998
Sample Values: ['@BidenHQ Thank you, PM Meloni, for shepherding our "lost little POTUS" back to the herd.\nI\'m so sorry you and Macron, etc., have to provide nursing care Biden\nThis is REALLY not in your job description.', '@MuskUniverseUsa 9', '@BidenHQ Lmfao. Biden has fallen down 17 times this year. Youâ€™re finding the one video where it was raining and he was wearing dress shoes down a metal ramp ðŸ˜‚ðŸ˜‚ðŸ˜‚ you guy have nothing on him.  \nGo find the cheer he got from those young cadets.  It was deafening']
String Statistics:
  Average Length: 144.48
  Max Length: 817
  Contains Numbers: False
  Most Common Values:
    - @Ashy_slashee Donald Trump: 2 occurrences
    - @Sportz_DC @Csmodeling_az BIDEN ðŸ‡ºðŸ‡¸: 2 occurrences
    - @BidenHQ Thank you, PM Meloni, for shepherding our "lost little POTUS" back to the herd.
I'm so sorry you and Macron, etc., have to provide nursing care Biden
This is REALLY not in your job description.: 1 occurrences

Column: replyCount
----------------------------------------
Data Type: int64
Null Count: 0 (0.00%)
Unique Values: 27
Sample Values: [0, 0, 0]
Numeric Statistics:
  Min: 0
  Max: 456
  Mean: 1.93
  Median: 0.0

Column: retweetCount
----------------------------------------
Data Type: int64
Null Count: 0 (0.00%)
Unique Values: 33
Sample Values: [0, 0, 0]
Numeric Statistics:
  Min: 0
  Max: 958
  Mean: 2.53
  Median: 0.0

Column: likeCount
----------------------------------------
Data Type: float64
Null Count: 0 (0.00%)
Unique Values: 49
Sample Values: [0.0, 0.0, 0.0]
Numeric Statistics:
  Min: 0.0
  Max: 4428.0
  Mean: 14.68
  Median: 0.0

Column: quoteCount
----------------------------------------
Data Type: float64
Null Count: 0 (0.00%)
Unique Values: 14
Sample Values: [0.0, 0.0, 0.0]
Numeric Statistics:
  Min: 0.0
  Max: 88.0
  Mean: 0.34
  Median: 0.0

Column: conversationId
----------------------------------------
Data Type: float64
Null Count: 0 (0.00%)
Unique Values: 820
Sample Values: [1.8012927208809472e+18, 1.8012518212034033e+18, 1.8012927208809472e+18]
Numeric Statistics:
  Min: 1.3819789210345103e+18
  Max: 1.8013210086551718e+18
  Mean: 1799831228392382976.00
  Median: 1.8013036715394028e+18

Column: conversationIdStr
----------------------------------------
Data Type: float64
Null Count: 0 (0.00%)
Unique Values: 820
Sample Values: [1.8012927208809472e+18, 1.8012518212034033e+18, 1.8012927208809472e+18]
Numeric Statistics:
  Min: 1.3819789210345103e+18
  Max: 1.8013210086551718e+18
  Mean: 1799831228392382976.00
  Median: 1.8013036715394028e+18

Column: hashtags
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 72
Sample Values: ['[]', '[]', '[]']
String Statistics:
  Average Length: 9.37
  Max Length: 965
  Contains Numbers: False
  Most Common Values:
    - []: 928 occurrences
    - [{'indices': [18, 24], 'text': 'Biden'}]: 2 occurrences
    - [{'indices': [47, 51], 'text': 'CAN'}]: 1 occurrences

Column: mentionedUsers
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 559
Sample Values: ['[]', "[{'id_str': '1711997156310355968', 'name': 'Elon Musk (Parody)', 'screen_name': 'MuskUniverseUsa', 'indices': [0, 16]}]", '[]']
String Statistics:
  Average Length: 129.87
  Max Length: 5457
  Contains Numbers: False
  Most Common Values:
    - []: 287 occurrences
    - [{'id_str': '11134252', 'name': 'GOP', 'screen_name': 'GOP', 'indices': [0, 4]}]: 12 occurrences
    - [{'id_str': '930212715422998530', 'name': 'ðŸ‡ºðŸ‡¸TravisðŸ‡ºðŸ‡¸', 'screen_name': 'Travis_4_Trump', 'indices': [0, 15]}]: 10 occurrences

Column: links
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 114
Sample Values: ['[]', '[]', '[]']
String Statistics:
  Average Length: 24.66
  Max Length: 501
  Contains Numbers: False
  Most Common Values:
    - []: 887 occurrences
    - [{'display_url': 'dlvr.it/T8F55h', 'expanded_url': 'http://dlvr.it/T8F55h', 'url': 'https://t.co/4oXJUiFM28', 'indices': [253, 276]}]: 1 occurrences
    - [{'display_url': 'facebook.com/share/v/MLRTb4â€¦', 'expanded_url': 'https://www.facebook.com/share/v/MLRTb4y6qAZUF82K/?mibextid=oFDknk', 'url': 'https://t.co/Pj3gquYg9f', 'indices': [151, 174]}]: 1 occurrences

Column: viewCount
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 223
Sample Values: ["{'count': '11', 'state': 'EnabledWithCount'}", "{'count': '2', 'state': 'EnabledWithCount'}", "{'count': '26', 'state': 'EnabledWithCount'}"]
String Statistics:
  Average Length: 43.33
  Max Length: 48
  Contains Numbers: False
  Most Common Values:
    - {'count': '3', 'state': 'EnabledWithCount'}: 46 occurrences
    - {'count': '2', 'state': 'EnabledWithCount'}: 42 occurrences
    - {'count': '8', 'state': 'EnabledWithCount'}: 36 occurrences

Column: quotedTweet
----------------------------------------
Data Type: bool
Null Count: 0 (0.00%)
Unique Values: 2
Sample Values: [False, False, False]

Column: in_reply_to_screen_name
----------------------------------------
Data Type: object
Null Count: 276 (27.60%)
Unique Values: 508
Sample Values: ['KamalaHQ', 'MuskUniverseUsa', 'KamalaHQ']
String Statistics:
  Average Length: 10.98
  Max Length: 15
  Contains Numbers: False
  Most Common Values:
    - KamalaHQ: 28 occurrences
    - GOP: 16 occurrences
    - Travis_4_Trump: 10 occurrences

Column: in_reply_to_status_id_str
----------------------------------------
Data Type: float64
Null Count: 287 (28.70%)
Unique Values: 583
Sample Values: [1.8012927208809472e+18, 1.8012518212034033e+18, 1.8012927208809472e+18]
Numeric Statistics:
  Min: 1.3819812814587494e+18
  Max: 1.8013208283126868e+18
  Mean: 1799866834013220352.00
  Median: 1.8012927208809472e+18

Column: in_reply_to_user_id_str
----------------------------------------
Data Type: float64
Null Count: 276 (27.60%)
Unique Values: 508
Sample Values: [3315264553.0, 1.711997156310356e+18, 3315264553.0]
Numeric Statistics:
  Min: 807095.0
  Max: 1.7998029048296817e+18
  Mean: 603305585219997056.00
  Median: 3337384017.0

Column: location
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

Column: cash_app_handle
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

Column: user
----------------------------------------
Data Type: object
Null Count: 0 (0.00%)
Unique Values: 933
Sample Values: ["{'id': 1595045671324844033, 'id_str': '1595045671324844033', 'url': 'https://twitter.com/Jeannie Sylvia', 'username': 'Jeannie Sylvia', 'rawDescription': '', 'created': datetime.datetime(2022, 11, 22, 13, 25, 16, tzinfo=datetime.timezone.utc), 'followersCount': 216, 'friendsCount': 366, 'statusesCount': 4166, 'favouritesCount': 9818, 'listedCount': 0, 'mediaCount': 161, 'location': 'Norfolk, VA', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1595046462441885698/HyNmRZq9_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}", "{'id': 1524051593498435587, 'id_str': '1524051593498435587', 'url': 'https://twitter.com/Booker RT J', 'username': 'Booker RT J', 'rawDescription': '', 'created': datetime.datetime(2022, 5, 10, 15, 40, 47, tzinfo=datetime.timezone.utc), 'followersCount': 101, 'friendsCount': 131, 'statusesCount': 55, 'favouritesCount': 2093, 'listedCount': 0, 'mediaCount': 0, 'location': 'Illinois, USA', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1526979312112619520/7_G8vEhf_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}", "{'id': 1518708043902562304, 'id_str': '1518708043902562304', 'url': 'https://twitter.com/Costa G', 'username': 'Costa G', 'rawDescription': 'I am a Son, a Husband, a Dad, a business owner and a Lover of The USA. ðŸ‡ºðŸ‡¸ Bring it Back from these Liberals', 'created': datetime.datetime(2022, 4, 25, 21, 46, 53, tzinfo=datetime.timezone.utc), 'followersCount': 1770, 'friendsCount': 1433, 'statusesCount': 27648, 'favouritesCount': 8663, 'listedCount': 29, 'mediaCount': 14458, 'location': 'Mansfield, MA', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1809757878393401346/PjpQBI1__normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}"]
String Statistics:
  Average Length: 709.62
  Max Length: 890
  Contains Numbers: False
  Most Common Values:
    - {'id': 1492672330207797254, 'id_str': '1492672330207797254', 'url': 'https://twitter.com/ZBreakingNewz', 'username': 'ZBreakingNewz', 'rawDescription': 'â€œFreedom (n.): To ask nothing. To expect nothing. To depend on nothing.â€ - Ayn Rand.', 'created': datetime.datetime(2022, 2, 13, 1, 30, 11, tzinfo=datetime.timezone.utc), 'followersCount': 36438, 'friendsCount': 26252, 'statusesCount': 409255, 'favouritesCount': 29867, 'listedCount': 30, 'mediaCount': 101296, 'location': '', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1826381926522892288/uLCQfTnJ_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': True, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}: 5 occurrences
    - {'id': 1799802904829681664, 'id_str': '1799802904829681664', 'url': 'https://twitter.com/Be Best', 'username': 'Be Best', 'rawDescription': '', 'created': datetime.datetime(2024, 6, 9, 13, 57, 38, tzinfo=datetime.timezone.utc), 'followersCount': 93, 'friendsCount': 11, 'statusesCount': 272, 'favouritesCount': 48, 'listedCount': 0, 'mediaCount': 1, 'location': '', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1799803455466319872/VWmBN88D_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}: 5 occurrences
    - {'id': 1597351489676124161, 'id_str': '1597351489676124161', 'url': 'https://twitter.com/Shamus McGee', 'username': 'Shamus McGee', 'rawDescription': 'Iâ€™m a USMC veteran. Iâ€™m a Patriot.  Iâ€™m tired of this bull shit going on, wrecking our country.   ðŸ‘ŠðŸ»ðŸ˜ ðŸ‡ºðŸ‡¸ðŸ‡ºðŸ‡¸ðŸ‡ºðŸ‡¸', 'created': datetime.datetime(2022, 11, 28, 22, 7, 59, tzinfo=datetime.timezone.utc), 'followersCount': 751, 'friendsCount': 432, 'statusesCount': 6767, 'favouritesCount': 2246, 'listedCount': 0, 'mediaCount': 393, 'location': '', 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1603622261075972096/_mn5NJcs_normal.jpg', 'profileBannerUrl': 'PW', 'protected': 'PW', 'verified': False, 'blue': False, 'blueType': None, 'descriptionLinks': ['PW'], '_type': 'PW'}: 5 occurrences

Column: date
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

Column: _type
----------------------------------------
Data Type: float64
Null Count: 1000 (100.00%)
Unique Values: 0
Sample Values: []
Numeric Statistics:
  Min: nan
  Max: nan
  Mean: nan
  Median: nan

/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mahdi/repos/USC_hacketon/nl2sql_agent/venv/lib/python3.11/site-packages/numpy/lib/_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)